################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.lock
/netcore-intro/src/Parking.Sln/.vs/Parking/v16/Server/sqlite3
/netcore-intro/src/Parking.Sln/.vs/Parking/v16
/netcore-intro/src/Parking.Sln/Parking.Application/obj
/netcore-intro/src/Parking.Sln/Parking.Domain/obj
/netcore-intro/src/Parking.Sln/Parking.Dto/obj
/netcore-intro/src/Parking.Sln/Parking.Infra/obj
/netcore-intro/src/Parking.Sln/Parking.Web/obj
/netcore-entityframeworkcore/src/Parking.Sln/.vs/Parking/v16
/netcore-entityframeworkcore/src/Parking.Sln/Parking.Application/bin/Debug/netstandard2.0
/netcore-entityframeworkcore/src/Parking.Sln/Parking.Application/obj
/netcore-entityframeworkcore/src/Parking.Sln/Parking.Domain/bin/Debug/netstandard2.0
/netcore-entityframeworkcore/src/Parking.Sln/Parking.Domain/obj
/netcore-entityframeworkcore/src/Parking.Sln/Parking.Dto/bin/Debug/netstandard2.0
/netcore-entityframeworkcore/src/Parking.Sln/Parking.Dto/obj
/netcore-entityframeworkcore/src/Parking.Sln/Parking.Infra/bin/Debug/netstandard2.0
/netcore-entityframeworkcore/src/Parking.Sln/Parking.Infra/obj/Debug/netstandard2.0
/netcore-entityframeworkcore/src/Parking.Sln/Parking.Infra/obj
/netcore-entityframeworkcore/src/Parking.Sln/Parking.Web/bin/Debug/netcoreapp2.2
/netcore-entityframeworkcore/src/Parking.Sln/Parking.Web/obj/Debug/netcoreapp2.2
/netcore-entityframeworkcore/src/Parking.Sln/Parking.Web/obj
/netcore-intro/src/Parking.Sln/.vs/Parking/DesignTimeBuild
/netcore-entityframeworkcore/src/Parking.Sln/.vs/Parking/DesignTimeBuild/.dtbcache
/netcore-entityframeworkcore/src/Parking.Sln/Parking.Domain/Migrations
/netcore-api/src/Parking.Sln/.config
/netcore-api/src/Parking.Sln/.vs/Parking/DesignTimeBuild
/netcore-api/src/Parking.Sln/.vs/Parking/v16
/netcore-api/src/Parking.Sln/Parking.Application/bin/Debug/netstandard2.0
/netcore-api/src/Parking.Sln/Parking.Application/obj
/netcore-api/src/Parking.Sln/Parking.Domain/bin/Debug/netstandard2.0
/netcore-api/src/Parking.Sln/Parking.Domain/Migrations
/netcore-api/src/Parking.Sln/Parking.Domain/obj
/netcore-api/src/Parking.Sln/Parking.Dto/bin/Debug/netstandard2.0
/netcore-api/src/Parking.Sln/Parking.Dto/obj
/netcore-api/src/Parking.Sln/Parking.Infra/bin/Debug/netstandard2.0
/netcore-api/src/Parking.Sln/Parking.Infra/obj
/netcore-api/src/Parking.Sln/Parking.Web/bin/Debug/netcoreapp2.2
/netcore-api/src/Parking.Sln/Parking.Web/obj
/netcore-intro/src/Parking.Sln/Parking.Application/bin/Debug/netstandard2.0
/netcore-intro/src/Parking.Sln/Parking.Domain/bin/Debug/netstandard2.0
/netcore-intro/src/Parking.Sln/Parking.Dto/bin/Debug/netstandard2.0
/netcore-intro/src/Parking.Sln/Parking.Infra/bin/Debug/netstandard2.0
/netcore-intro/src/Parking.Sln/Parking.Web/bin/Debug/netcoreapp2.2
/netcore-repositorty-pattern/src/Parking.Sln/.config
/netcore-repositorty-pattern/src/Parking.Sln/.vs/Parking/config
/netcore-repositorty-pattern/src/Parking.Sln/.vs/Parking/DesignTimeBuild
/netcore-repositorty-pattern/src/Parking.Sln/.vs/Parking/v16
/netcore-repositorty-pattern/src/Parking.Sln/Parking.Application/bin/Debug/netstandard2.0
/netcore-repositorty-pattern/src/Parking.Sln/Parking.Application/obj/Debug/netstandard2.0
/netcore-repositorty-pattern/src/Parking.Sln/Parking.Application/obj
/netcore-repositorty-pattern/src/Parking.Sln/Parking.Domain/bin/Debug/netstandard2.0
/netcore-repositorty-pattern/src/Parking.Sln/Parking.Domain/obj/Debug/netstandard2.0
/netcore-repositorty-pattern/src/Parking.Sln/Parking.Domain/obj
/netcore-repositorty-pattern/src/Parking.Sln/Parking.Dto/bin/Debug/netstandard2.0
/netcore-repositorty-pattern/src/Parking.Sln/Parking.Dto/obj/Debug/netstandard2.0
/netcore-repositorty-pattern/src/Parking.Sln/Parking.Dto/obj
/netcore-repositorty-pattern/src/Parking.Sln/Parking.Infra/bin/Debug/netstandard2.0
/netcore-repositorty-pattern/src/Parking.Sln/Parking.Infra/obj/Debug/netstandard2.0
/netcore-repositorty-pattern/src/Parking.Sln/Parking.Infra/obj
/netcore-repositorty-pattern/src/Parking.Sln/Parking.Web/bin/Debug/netcoreapp2.2
/netcore-repositorty-pattern/src/Parking.Sln/Parking.Web/obj/Debug/netcoreapp2.2
/netcore-repositorty-pattern/src/Parking.Sln/Parking.Web/obj
/netcore-publish/src/Parking.Sln/Parking.Application/bin/Debug/netstandard2.0
/netcore-publish/src/Parking.Sln/.vs/Parking/v16
/netcore-publish/src/Parking.Sln/.vs/Parking/DesignTimeBuild
/netcore-publish/src/Parking.Sln/.vs/Parking/config
/netcore-publish/src/Parking.Sln/.config
/netcore-publish/src/Parking.Sln/Parking.Application/obj
/netcore-publish/src/Parking.Sln/Parking.Domain/bin/Debug/netstandard2.0
/netcore-publish/src/Parking.Sln/Parking.Domain/obj
/netcore-publish/src/Parking.Sln/Parking.Dto/bin/Debug/netstandard2.0
/netcore-publish/src/Parking.Sln/Parking.Dto/obj
/netcore-publish/src/Parking.Sln/Parking.Infra/bin/Debug/netstandard2.0
/netcore-publish/src/Parking.Sln/Parking.Infra/obj/Debug/netstandard2.0
/netcore-publish/src/Parking.Sln/Parking.Infra/obj
/netcore-publish/src/Parking.Sln/Parking.Web/bin/Debug/netcoreapp2.2
/netcore-publish/src/Parking.Sln/Parking.Web/obj
/netcore-publish/src/Parking.Sln/Parking.Web/Properties
